<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcwo_vBy5RB4xowt8fSMH9go--lBExBXg</string>
	<key>GCM_SENDER_ID</key>
	<string>698518780741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tourex.travelapp</string>
	<key>PROJECT_ID</key>
	<string>tourex-9537f</string>
	<key>STORAGE_BUCKET</key>
	<string>tourex-9537f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698518780741:ios:f7737e6879d935141f1c2c</string>
	<key>DATABASE_URL</key>
	<string>https://tourex-9537f-default-rtdb.firebaseio.com</string>
</dict>
</plist>