<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793487298247-frpqpabbepksrs1n6795p8e3grkajhn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793487298247-frpqpabbepksrs1n6795p8e3grkajhn4</string>
	<key>API_KEY</key>
	<string>AIzaSyAyIp3lW277aIp7YFqBnLM1lte8qdMWCHU</string>
	<key>GCM_SENDER_ID</key>
	<string>793487298247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.travelapp</string>
	<key>PROJECT_ID</key>
	<string>tourex-ac7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>tourex-ac7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793487298247:ios:f299e362f3df7eab5078e2</string>
	<key>DATABASE_URL</key>
	<string>https://tourex-ac7ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>